@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
#menu {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 20;
	width: 100%;
	align-items: center;
	background-color: white;		
  }
  
  #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content:space-around
	
  }
  
  #menu li {
	position: relative;
	margin: 0;
	padding: 20px;

  }
  
  #menu li a{
	color: black;	
	text-decoration: none;
	font-weight: bolder;
	font-size: 120%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  #menu li a:hover{
	color:rgb(212, 30, 212);
  }
  #top {
  }
  #about {
	text-align: center;
	direction: rtl;
    }
	#photos {
		text-align: center;
		direction: rtl;
		
		}
	#photos img{
			direction: rtl;
			}
	#playlist {
		text-align: center;
		direction: rtl;
			}
.link{
	background: none;
	border: none;
	text-decoration: none;
	color: black;
	font-weight: bolder;
	font-size: 120%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.link:hover{
	color: rgb(212, 30, 212);
}
.dropdown{
	position: relative;

}
.dropdown-menu{
	direction: rtl;
	position: absolute;
	right:0%;
	top:calc(100%+.25rem);
	background-color: white;
	color: black;
	padding: 10px 10px 10px 40px;
	border-radius: .95rem;
	box-shadow: 0 2px 5px 0 ;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

}
.dropdown > .link:focus + .dropdown-menu{
	opacity: 1;
	transform: translateY(0px);
}

.dropdown-menu a{
	color:black;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: medium;
	align-items: right;
	text-decoration: none;
}

.dropdown-menu a:hover{
	color:red;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: medium;
	align-items: right;
	text-decoration: none;
}

h1{
	font-size: 250%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	align-items: center;

}
#about img{
	text-align: center;
	float: right;
	width: 20%;
}

#about ::after{
	text-align: center;
	content: "";
  display: table;
  clear: both;
}

#about h3{
	font-family: 'Fredoka', sans-serif;
}

.row{
	display: flex;
	width: 80%;
	height: 100%;
	align-items:center;
	text-align: center;
}

.col{
	
	text-align: center;
	width: 80%;
	height: 20%;
	flex-basis: 10%;
	right: 40px;
}

.gallery{
	width: 900px;
	display: flex;
	overflow-x: scroll;
	/* overflow-x: hidden; */

}

.gallery div{
	width: 100%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
	padding: 10px;
	flex: none;

}

.gallery div img{
	width: 100%;

}

.gallery div img:hover{
	cursor: pointer;
	transform: scale(1.1);

}
.gallery::-webkit-scrollbar{
	display: none;
}

.gallery-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10% auto;
}

#backbtn, #nextbtn{
	width: 50px;
	cursor: pointer;
	margin: 40px;

}

h2{
	color: black;
	font-size: 250%;
	text-decoration: solid;
	font-weight:900px;
	width: 500%;
	height: 230%;
	display: inline-block;
	border-radius: 10px;
	padding: 0px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin-bottom: 10px 15px;
}

p{
	color: black;
	font-size: 200%;
	text-decoration: solid;
	font-weight:900px;
	width: 300%;
	height: 230%;
	display: inline-block;
	border-radius: 10px;
	padding: 0px 25px 0px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
}

.p1{
	background-image: url(1.jpg);
	align-items: center;
}
.p2{
	background-image: url(p1.jpg);
	align-items: center;
}
.p3{
	background-image: url(p2.jpg);
	align-items: center;
}
.p4{
	background-image: url(p6.jpg);
	align-items: center;
}

#like-button {
	display: inline-block;
	align-items: center;
	background-color: #3b5998;
	color: #fff;
	border: none;
	padding: 15px 30px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 36px;
	font-weight: bold;
	box-shadow: 5px 5px 5px 5px ;
  }

  #like-button:hover{
	background-color: #1a2f5b;
  }
#like-count{
	font-size: 48px;
	font-weight: bolder;
}

#like{
	direction: rtl;
	color:black ;
	text-align: center;
	/* background-image: url(ezgif.com-video-to-gif\ \(2\).gif); */
	background-image: url(gifs-de-deixe-seu-like-3.gif);
}

#like h2{
	color:black ;
	padding: 0px 25px 0px 25px;
	text-align: right;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}
#qrcoder{
	text-align: center;
}
#spa{
	direction: rtl;
	font-family: 'Fredoka', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 22px;
}

#spa h3{
	padding: 0px 25px 0px 25px;
	text-align: right;
}
.wrapper > h1{
	text-align: center;

}
.accordion{
	background-color: white;
	color:rgba(0,0, 0, 0.8);
	cursor: pointer;
	font-size: 24px;
	font-family: 'Fredoka', sans-serif;
	width:100%;
	padding: 2rem 2.5rem;
	border:none;
	outline: none;
	transition: 0.4s;
	font-weight: bold;
	direction: rtl;
}

.active,
.accordion:hover{
	background-color:rgb(241, 192, 241);

}

.panel{
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	padding: 0 2rem 2.5rem 2rem;
	background-color:rgb(241, 192, 241);
	direction: rtl;
	font-family: 'Fredoka', sans-serif;
	font-size: 22px;

}

.qna{
	border: 1px solid rgba(0,0, 0, 0.3);
	margin: 10px 0;
}
.qna:active{
	border: none;
}

#contact{
	text-align: center;
}
.container{
	width:80%;
	margin: 50px auto;

}

.contact-box{
	display: flex;
		border: 1px solid rgba(0,0, 0, 0.3);
}

.contact-left{
	flex-basis: 80%;
	margin: 40px 60px ;
	direction: rtl;
}

.input-row{
	/* display: flex; */
	justify-content: space-between;
	margin-bottom: 20px;
}

.input-row .input-group{
	flex-basis: 80%;

}

input{
	width: 100%;
	border:none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
	font-family: 'Fredoka', sans-serif;
	font-size: 18px;
}
select{
	width: 100%;
	border:none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}

textarea{
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	font-family: 'Fredoka', sans-serif;
	font-size: 20px;
}

label{
	margin-bottom: 6px;
	display: block;
	color:rgb(212, 30, 212) ;
	font-family: 'Fredoka', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

form button{
	display: inline-block;
	align-items: center;
	background-color: rgb(212, 30, 212) ;
	color: white;
	border: 1px solid rgb(212, 30, 212)  ;
	padding: 15px 30px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 36px;
	font-weight: bold;
	box-shadow: 0px 5px 15px 0px  rgba(28,0,181,0.3);
	font-family: 'Fredoka', sans-serif;
}

form button :hover{
	background-color: rgb(241, 192, 241);
}


